<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM9vYQ4sxf1qlfZmx5YhKj-2EfKQnTFqc</string>
	<key>GCM_SENDER_ID</key>
	<string>460955121194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.script05TaskTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>task-tracker-a5914</string>
	<key>STORAGE_BUCKET</key>
	<string>task-tracker-a5914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460955121194:ios:f7e1fbfc882be1cd1ab553</string>
</dict>
</plist>